extends ../../layouts/main

block content
  h2() Add an XRP Wallet Address
    form(action="/wallet/add" method="POST")
      label(class="block text-gray-700 text-sm font-bold mb-2") Wallet Address:
        input(class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal" type="text" name="wallet_address" placeholder="")
      input(class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit" value="Add")
