extends ../../layouts/main

block content
  h2() Here are your wallets
  table
    thead
      th Wallet Addresses
      th Balance
    for wallet in wallets
      tr
        td #{wallet.wallet_address}
        td #{wallet.balance}
  p
